In [1]:
import pandas as pd
import pathlib
from tqdm import tqdm
import settings

In [5]:
settings.COUNTIES_TO_FOCUS

['01073',
 '01117',
 '01007',
 '01125',
 '01043',
 '01009',
 '01115',
 '13057',
 '13117',
 '13135',
 '13247',
 '13151',
 '13113',
 '13089',
 '13121',
 '13097',
 '13067',
 '13063']

In [14]:
data_files = sorted(pathlib.Path('..').glob('**/data/distribution/*.csv.xz'))
focus_data = [f for f in data_files if f.name[:5] in settings.COUNTIES_TO_FOCUS]
len(focus_data)

144

In [17]:
dfs = []
for f in tqdm(focus_data):
    df = pd.read_csv(f, dtype={'geoid':object})
    df = df.reindex(['geoid','region_type'], axis=1)
    dfs.append(df)
fdf = pd.concat(dfs)
fdf = fdf.drop_duplicates()
fdf = fdf.dropna()
fdf

100%|█████████████████████████████████████████████████████████████| 144/144 [00:01<00:00, 101.56it/s]

                geoid   region_type
0               01007        county
1         01007010001  census_tract
2         01007010005  census_tract
3         01007010006  census_tract
4         01007010007  census_tract
...               ...           ...
1202  132470604111018   block_group
1203  132470604111019   block_group
1204  132470604111020   block_group
1205  132470604111021   block_group
1206  132470604111022   block_group

[89883 rows x 2 columns]

In [18]:
fdf.to_csv('../docs/data/custom_entity.csv', index=False)